* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Lacquer';
    src: url('./font/Lacquer-Regular.ttf') format('truetype');
}

:root {
    --border-radius: 4px;
}

.page {
    margin: 0;
    font-family: "Lacquer", sans-serif;
    background-color: #2d3033;
    width: 100vw;
    height: 100vh;
}

.title {
    display: flex;
    justify-content: center;
    gap: 2rem;
    font-size: 4rem;
    padding: 2rem 0;
}

.tic {
    color: #e04e22;
}

.tac {
    color: #49b830;
}

.toe {
    color: #3062b8;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

.input1,
.input2 {
    color: #d0d4db;
    font-size: 1.5rem;
}

input {
    outline: none;
    border: 1px solid #d0d4db;
    border-radius: var(--border-radius);
    background-color: #2d3033;
    color: #d0d4db;
    padding: .3rem;
    font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif;
}

.board {
    margin: 2rem 0;
    width: 100vw;
    height: 50vh;
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(3, auto);
}

.cell {
    width: 100px;
    height: 100px;
    border: 2px solid black;
    font-size: 90px;
    text-align: center;
    color: #d0d4db;
}

.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3) {
    border-top: none;
}

.cell:nth-child(3n + 1) {
    border-left: none;
}

.cell:nth-child(3n + 3) {
    border-right: none;
}

.cell:last-child,
.cell:nth-child(8),
.cell:nth-child(7) {
    border-bottom: none;
}

.free:hover {
    cursor: pointer;
    background-color: #49b830;
}

.occupied:hover {
    cursor: not-allowed;
    background-color: #e04e22;
}

#playerturn {
    color: #d0d4db;
    margin-top: 1rem;
    height: 1.5rem;
    text-align: center;
    font-size: 1.4rem;
}

.displaywinner {
    background-color: rgba(48, 98, 184, .9);
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 3rem;
    display: none;
    gap: 3rem;
}

.btn {
    outline: none;
    cursor: pointer;
    border: 1px solid #d0d4db;
    border-radius: var(--border-radius);
    padding: .4rem;
    background-color: #2d3033;
    color: #d0d4db;
    font-weight: bold;
    letter-spacing: 1px;
    font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif;
}